extends layout

block content
  h2 #{category ? "Edit category" : "Create category"}

  form(method="POST", action=category ? `/api/employee/update/${employee.id}` : "/api/employee/create")
    
    if error
      .alert.alert-danger= error

    if success
      .alert.alert-success= success

    .mb-3
      label.form-label(for="category").required Category Name
      input#employee_ref_id.form-control(
        type="text",
        name="employee_ref_id",
        placeholder="Enter Employee ID",
        required,
        value=category ? category.employee_ref_id : ""
      )

    .mb-3
      label.form-label(for="description").required Name
      input#employee_name.form-control(
        type="text",
        name="description",
        placeholder="Enter Employee Name",
        required,
        value=category ? category.description : ""
      )
   
    button.btn.btn-primary.w-50(type="submit") #{employee ? "Update Employee" : "Create Employee"}
